.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.projects-light {
  background-color: var(--light-background-lighter);
}

.projects-dark {
  background-color: var(--dark-background-darker);
}

.project-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  width: 100%;
}

.project-row:nth-of-type(1) {
  padding-top: 30px;
}

.project-row:nth-of-type(2) {
  padding-bottom: 30px;
}

.project {
  position: relative;
  min-height: 300px;
  height: 300px;
  max-height: 300px;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  opacity: 0.95;
  transition: 0.3s;
}

.project-large {
  width: 600px;
  max-width: 600px;
}

.project-small {
  width: 400px;
  max-width: 400px;
}

.project * {
  transition: 0.3s ease all;
}

.project-screenshot {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
  object-position: left top;
  display: block;
}

#mdoc-project {
  background-color: #0c1f1ef7;
  display: flex;
  justify-content: center;
}

#mdoc-project > .project-screenshot {
  object-fit: contain;
  width: 70%;
  object-position: center;
}

#rumu-project > .project-screenshot {
  object-position: center center;
}

#ptp-project {
  background-color: rgba(255, 75, 75, 0.726);
  display: flex;
  justify-content: center;
}

#ptp-project > .project-screenshot {
  object-position: center top;
  object-fit: contain;
  width: 90%;
  object-position: center;
}

#soc-project > .project-screenshot {
  object-position: center center;
}

.project-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.project-overlay:hover {
  opacity: 1;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 100%;
}

.project-button {
  text-decoration: none;
  text-transform: uppercase;
  color: white !important;
  background-color: var(--icon-bg);
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  width: auto;
}

@media only screen and (max-width: 1050px) {
  .project-row {
    flex-wrap: wrap;
  }
  .project-large {
    width: 300px;
    max-width: 300px;
  }

  .project-small {
    width: 300px;
    max-width: 300px;
  }
}
