.toolkit-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.toolkit-icon > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.toolkit-icon > a:hover {
  background-color: rgba(187, 187, 187, 0.28);
}
