:root {
    --floral-white: #fffcf2ff;
    --pale-silver: #ccc5b9ff;
    --black-olive: #403d39ff;
    --eerie-black: #252422ff;
    --flame: #eb5e28ff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--eerie-black);
    color: var(--floral-white);
    font-family: 'PT Sans Narrow', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
    padding-left: 20px;
    padding-right: 20px;
}

#nav-and-options {
    display: flex;
}

#navbar a {
    color: var(--flame);
    text-decoration: none;
    padding-right: 16px;
}

#nav-and-options button {
    display: flex;
}

#hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75vh;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}

#hero-intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 40%;
    padding-bottom: 10vh;
}

#hero-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 40%;
    height: 100%;
    padding-bottom: 10vh;
}

#hero-icons img {
    border-radius: 50%;
    height: 60%;
}

#hero-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}

#hero-socials i {
    background-color: var(--flame);
    padding: 15px;
    border-radius: 50%;
}

#hero-socials a {
    color: var(--floral-white);
    text-decoration: none;
}

#about-me {
    background-color: var(--black-olive);
    width: 100%;
    height: 30vh;
    display: flex;
}

#my-description {
    width: 50%;
    font-size: 1.4em;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30vh;
}

#project-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 25vh;
    width: 80%;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.project-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.project-icons a {
    color: var(--floral-white);
    text-decoration: none;
}