:root {
    --dark-primary-background: #0C0C0C;
    --dark-secondary-background: #0D1317;
    --main-font: #fffcf2ff;
    --icon-text: #fffcf2ff;
    --icon-bg: #8D0000;
    --floral-white: #fffcf2ff;
    --black-olive: #403d39ff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.inline {
    display: inline-block;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-primary-background);
    color: var(--main-font);
    font-family: 'PT Sans Narrow', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 22;
    width: 100%;
    height: 10vh;
    background-color: var(--dark-primary-background);
    font-size: 1.4em;
    padding-left: 20px;
    padding-right: 20px;
}

#nav-and-options {
    display: flex;
}

#navbar a {
    color: var(---icon-text);
    text-decoration: none;
    padding-right: 16px;
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 

#hero {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    background-image: url('images/pexels-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#scroll-message {
    position: absolute;
    z-index: 9;
    top: 92vh;
    left: 5vw;
}

#hero-intro {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    height: 50%;
    width: 50%;
}

#demo {
    text-align: left;
}

#hero-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 10vh;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#hero-icons img {
    border-radius: 50%;
    max-height: 100%;
    max-width:100%;
    padding: 20px;
}

#hero-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
}

#hero-socials i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-bg);
    height: 80px;
    width: 80px;
    font-size: 40px;
    border-radius: 50%;
    border: 3px solid white;
}

#hero-socials a {
    color: var(--icon-text);
    text-decoration: none;
}

#about-me {
    background-color: var(--dark-primary-background);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#my-description {
    width: 50%;
}

#my-skills {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills-box {
    background-color: var(--dark-secondary-background);
    max-height: 80%;
    width: 60%;
}

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--dark-secondary-background);
    width: 100%;
    height: 70vh;
}

#project-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 80%;
    width: 90%;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 25%;
    background-color: var(--dark-primary-background);
    padding: 30px;
}

.project-image {
    min-height: 75%;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.project-icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-bg);
    height: 60px;
    width: 60px;
    font-size: 30px;
    border-radius: 50%;
    border: 3px solid white;
}
.project-icons a {
    color: var(--icon-text);
    text-decoration: none;
}

#pokemon-team-planner-image {
    background-image: url(images/s-tsuchiya-_WjhfEzRDak-unsplash.jpg);
}

#etch-a-sketch-image {
    background-image: url(images/s-tsuchiya-_WjhfEzRDak-unsplash.jpg);
}

#rock-paper-scissors-image {
    background-image: url(images/s-tsuchiya-_WjhfEzRDak-unsplash.jpg);
}

#company-landing-page-image {
    background-image: url(images/s-tsuchiya-_WjhfEzRDak-unsplash.jpg);
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    background-color: var(--dark-primary-background);
}

#contact-icons {
    display: flex;
    width: 50%;
    height: 100%;
}

#contact-icons img {
    border-radius: 50%;
    border: 3px solid white;
    max-height: 100%;
    max-width:100%;
    margin: 20px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

@media screen and (max-width: 700px) {
    #hero, #hero-intro, #hero-icons, #contact, #about-me, #portfolio {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }
    #hero-socials {
        flex-direction: row;
        justify-content: space-evenly;
    }
    #hero-socials a {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
}