:root {
    --dark-primary-background: #0C0C0C;
    --dark-secondary-background: #0D1317;
    --main-font: #fffcf2ff;
    --icon-text: #fffcf2ff;
    --icon-bg: #8D0000;
    --floral-white: #fffcf2ff;
    --black-olive: #403d39ff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-primary-background);
    color: var(--main-font);
    font-family: 'PT Sans Narrow', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 10vh;
    background-color: var(--dark-primary-background);
    font-size: 1.4em;
    padding-left: 20px;
    padding-right: 20px;
}

#nav-and-options {
    display: flex;
}

#navbar a {
    color: var(---icon-text);
    text-decoration: none;
    padding-right: 16px;
}

#nav-and-options button {
    display: flex;
}

#hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    background-image: url('images/pexels-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 40%;
    padding-bottom: 10vh;
}

#hero-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 40%;
    height: 100%;
    padding-bottom: 10vh;
}

#hero-icons img {
    border-radius: 50%;
    border: 3px solid white;
    height: 60%;
}

#hero-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}

#hero-socials i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-bg);
    height: 80px;
    width: 80px;
    font-size: 40px;
    border-radius: 50%;
    border: 3px solid white;
}

#hero-socials a {
    color: var(--icon-text);
    text-decoration: none;
}

#about-me {
    background-color: var(--dark-primary-background);
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#my-description {
    width: 60%;
}

#my-skills {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills-box {
    display: flex;
    background-color: var(--dark-secondary-background);
    height: 80%;
    width: 60%;
}

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--dark-secondary-background);
    width: 100%;
    height: 50vh;
}

#project-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 80%;
    width: 90%;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 25%;
    background-color: var(--dark-primary-background);
    padding: 30px;
}

.project-image {
    min-height: 75%;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.project-icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--icon-bg);
    height: 60px;
    width: 60px;
    font-size: 30px;
    border-radius: 50%;
    border: 3px solid white;
}
.project-icons a {
    color: var(--icon-text);
    text-decoration: none;
}

#pokemon-team-planner-image {
    background-image: url(images/s-tsuchiya-_WjhfEzRDak-unsplash.jpg);
}

#etch-a-sketch-image {
    background-image: url(images/s-tsuchiya-_WjhfEzRDak-unsplash.jpg);
}

#rock-paper-scissors-image {
    background-image: url(images/s-tsuchiya-_WjhfEzRDak-unsplash.jpg);
}

#company-landing-page-image {
    background-image: url(images/s-tsuchiya-_WjhfEzRDak-unsplash.jpg);
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    background-color: var(--dark-primary-background);
}

#contact-icons {
    display: flex;
    width: 50%;
    height: 100%;

}