.toolkit {
  display: flex;
  flex-direction: column;
}

.toolkit-light {
  background-color: var(--light-background-lighter);
}

.toolkit-dark {
  background-color: var(--dark-background-darker);
}

.toolkit-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.toolkit-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1000px;
  padding-top: 30px;
  gap: 30px;
}
