.navlist {
  position: fixed;
  top: 0;
  width: 100%;
}

.toggle {
  color: var(--icon-bg);
  z-index: 2;
  top: 20px;
  padding: 8px 0;
  cursor: pointer;
  position: absolute;
}

.dark-mode-toggle {
  right: 90px;
}

.menu-toggle {
  right: 30px;
}

.dark-mode-toggle > svg {
  width: 20px;
  height: 30px;
}

.menu-toggle > svg {
  width: 30px;
  height: 30px;
}
