.navlist {
  position: fixed;
  top: 0;
  width: 100%;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-bg);
  z-index: 1000;
  top: 20px;
  cursor: pointer;
  position: absolute;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 3px;
}

.dark-mode-toggle {
  right: 90px;
}

.menu-toggle {
  right: 30px;
}

.dark-mode-toggle > svg {
  width: 20px;
  height: 30px;
}
.menu-toggle > svg {
  width: 30px;
  height: 30px;
}
