.navlist {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.nav-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #55e2d3;
  width: 100%;
  height: 100vh;
  transition: 0.4s;
  transform: translateY(-100%);
}

.nav-menu-container.active {
  transition: 0.4s;
  transform: translateY(0);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
  height: 100vh;
}

.nav-menu > li {
  text-decoration: none;
  list-style: none;
  font-size: 2rem;
  margin-top: 50px;
}

.nav-link {
  text-decoration: none;
}

.nav-link > span {
  color: white;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-bg);
  z-index: 1000;
  top: 20px;
  cursor: pointer;
  position: absolute;
  background-color: #f3ffff;
  width: 35px;
  height: 35px;
  border-radius: 3px;
}

.toggle:hover {
  background-color: #c9fdfd;
}

.dark-mode-toggle {
  right: 90px;
}

.menu-toggle {
  right: 30px;
}

.dark-mode-toggle > svg {
  width: 20px;
  height: 30px;
}
.menu-toggle > svg {
  width: 30px;
  height: 30px;
}
