.contact {
  display: flex;
  flex-direction: column;
  background-color: #e7ffff;
}

.contact-light {
  background-color: var(--light-background-darker);
}

.contact-dark {
  background-color: var(--dark-background-lighter);
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
  gap: 20px;
}

.contact-greeting-and-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.contact-greeting {
  width: 500px;
  min-width: 500px;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  width: 300px;
}
.social-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icon {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.social-icon:hover {
  background-color: rgba(187, 187, 187, 0.28);
}

#linkedin {
  color: #0a66c2;
}

#github {
  color: #24292f;
}

#twitter {
  color: #00a3f4;
}
