.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.main-header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10vw;
  width: 100%;
  padding: 30px;
}

.header-text > h1 {
  font-size: 3rem;
}

.header-text > p {
  font-size: 1.3rem;
}

.avatar-container {
  width: 240px;
}

.avatar {
  border-radius: 50%;
  border: 0;
}
.scroll-arrow {
  position: absolute;
  font-size: 32px;
  top: 92vh;
  color: var(--icon-bg);
}
